<!--sensors.html -->
{% extends"base.html" %}
{% block content%}
<div class="vertical-center">
<div class="container d-flex justify-content-center view">
  <div class="d-flex justify-content-center flex-column">
    {% if actuators|length> 0 %}
      <table id="view_actuators" class="" style="width:100%">
        <h2 class="text-center">Atuadores:</h2>
        <thead>
          <tr>
            <th>actuator</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tópico</th>
            <th>Unidade</th>
            <th>Ativo?</th>
              <th></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for actuator in actuators %}
          <tr>
              <td>{{ actuator.name }}</td>
              <td>{{ actuator.brand }}</td>
              <td>{{ actuator.model }}</td>
              <td>{{ actuator.topic }}</td> 
              <td>{{ actuator.unit }}</td>
              {% if actuator.is_active == true %}
                  <td>Ativo</td>
              {% else %}
                  <td>Desativado</td>
              {% endif %}
              <td><a href="{{ url_for('actuator_.edit_actuator', id=actuator.id) }}">Editar</a></td>
              <td><a href="{{ url_for('actuator_.del_actuator', id=actuator.id) }}">Deletar</a></td>

          </tr>
      {% endfor %}
        </tbody>
      </table>
      <form  action= "{{ url_for('actuator_.register_actuator') }}">
        <p class="mt-2 text-center"><input class="text-center mt-3 btn-danger text-white" type= "submit" value= "Adicionar atuator"/></p>
    {% else %}
      <p>Ainda não atuatores registrados!<p>
      <form  action= "http://localhost:8080/register_actuator">
        <p><input  class="text-center mt-3 btn-danger text-white" type= "submit" value= "Adicionar atuator"/></p>
      </form>
    {% endif %} 
    </div>
  </div>
</div>


{% endblock%}