<!-- register_user.html -->
{% extends "base.html" %}
{% block content %}

<div class="vertical-center d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
    <div class=" flex">
    <div class="container pt-4 p-5">
        <div class="card d-flex align-content-center justify-content-center" style="border: none;">
            <div class="text-black align-content-center text-center text-md-center">
                <h2 class="p-4 mx-2">Adicionar Usuário</h2>
            </div>
            <div class="card-body">
                <form action="{{ url_for('user.add_user') }}" class="d-flex flex-column justify-content-md-center" method="POST">
                    <div class="form-group">
                        <label for="username">Usuário:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Nome" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="*********" required />
                    </div>
                    <div class="form-group">
                        <label for="role_type_">Role:</label>
                        <select name="role_type_" id="role_type_" class="form-control">
                            {% for role in roles %}
                                <option>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn text-white mt-4 w-50 btn-danger" value="Cadastrar" ></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
