<!-- register_sensor.html -->
{% extends "base.html" %}
{% block content %}

<div class="vertical-center d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
    <div class="flex">
        <div class="container pt-4 p-5">
            <div class="card d-flex align-content-center justify-content-center" style="border: none;">
                <div class="text-black align-content-center text-center text-md-center">
                    <h2 class="p-4 mx-2">Registrar Atuador</h2>
                </div>
                <div class="card-body">
                    {% for actuator in actuator %}
                        <form action="{{ url_for('actuator_.update_actuator') }}" class="d-flex flex-column justify-content-md-center" method="post">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value="{{ actuator.id }}" readonly />
                            </div>
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ actuator.name }}" required />
                            </div>
                            <div class="form-group">
                                <label for="brand">Marca:</label>
                                <input type="text" class="form-control" id="brand" name="brand" value="{{ actuator.brand }}" required />
                            </div>
                            <div class="form-group">
                                <label for="model">Modelo:</label>
                                <input type="text" class="form-control" id="model" name="model" value="{{ actuator.model }}" required />
                            </div>
                            <div class="form-group">
                                <label for="unit">Unidade de Medida:</label>
                                <input type="text" class="form-control" id="unit" name="unit" value="{{ actuator.unit }}" required />
                            </div>
                            <div class="form-group">
                                <label for="topic">Tópico MQTT:</label>
                                <input type="text" class="form-control" id="topic" name="topic" value="{{ actuator.topic }}" required />
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="is_active" name="is_active" {% if actuator.is_active %}checked{% endif %} />
                                <label class="form-check-label" for="is_active">Ativo?</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn text-white mt-4 w-50 btn-danger" value="Alterar" />
                            </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
