<!--sensors.html -->
{% extends"base.html" %}
{% block content%}
<div class="vertical-center">
<div class="container view">
  <div class="justify-content-center">
    {% if users|length> 0 %}
      <table id="view_users" class="" style="width:100%">
        <h2 class="py-3 text-center">Usuários:</h2>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Função</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users%}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.name }}</td>
              <td><a href="{{ url_for('user.edit_user', user_id=user.id) }}">Editar</a></td>
              <td><a href="{{ url_for('user.delete_user', user_id=user.id) }}">Deletar</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form  action= "{{ url_for('user.register_user') }}">
        <p class="text-center"><input class="mt-4 btn-danger text-white" type= "submit" value= "Adicionar Usuário"/></p>
      </form>
    {% else %}
      <p>Ainda não usuários registrados!<p>
      <form  action= "{{ url_for('user.register_user') }}">
        <p class="text-center "><input class=" mt-4 btn-danger text-white" type= "submit" value= "Adicionar Usuário"/></p>
      </form>
    {% endif %} 
    </div>
  </div>
</div>


{% endblock%}